{{#each this}}
<h2 class="country-name">{{name}}</h2>
<ul>
    <li class="capital"><span>Capital:</span> {{capital}}</li>
    <li class="popolation"><span>Popolation:</span> {{population}}</li>
    <li class="languages"><span>Languages:</span>
        <ul>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
<img class="flag" src="{{flag}}" alt="{{name}}falg" width="300px">
{{/each}}